#footer {
    text-align: center;
}

#footer li {
    display: inline;
    margin: 0 10px;
}

#footer a {
    text-decoration: none;
    color: royalblue;
}

#footer a:visited {
    color: mediumpurple;
}