#header {
    position: fixed;
    width: 100%;
}

#header a {
    text-decoration: none;
}

#header .container {
    background-color: #2D94F6;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu_bar {
    text-align: center;
}

#menu_bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu_bar li {
    display: inline;
    padding: 0 10px;
}

#header a {
    text-decoration: none;
    color: white;
}

.website_title {
    font-size: 2em;
    float: left;
    text-align: right;
}

#header .container div {
    vertical-align:middle;
    display:inline-block;
    width: 49%;
}

.default_menu {
    display: block;
}

.mobile_menu {
    display: none;
}

#menu_bar_mobile {
    text-align: center;
    position: relative;
}

#menu_bar_mobile:hover #menu_mobile_content {
    display: block;
}

#menu_hover_item {
    max-height: 40px;
    float: right;
}

#menu_mobile_content {
    padding : 11px;
    background-color: #2D94F6;
    top: 40px;
    right: -23px;
    display: none;
    position: absolute;
}

#menu_mobile_content ul {
    padding: 0 10px;
    margin: 0;
}

#menu_mobile_content li {
    list-style-type: none;
    margin: 5px;
}