@media screen and (max-width: 400px) {
    .list_item {
        width: 200px;
    }

    #list_view img {
        max-width: 200px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .list_item {
        width: 300px;
    }

    #list_view img {
        max-width: 300px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .list_item {
        width: 400px;
    }

    #list_view img {
        max-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .default_menu {
        display: none;
    }

    .mobile_menu {
        display: block;
    }
}