html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    margin: 0;
}

.container {
    background-color: lightgray;
    padding: 1em;
}

#list_view {
    margin-top: 50px;
}

#list_view li {
    list-style-type: none;
}

#list_view img {
    max-width: 500px;
}

#list_view ul {
    padding: 0;
}

.list_item {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #F3F3F3;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid darkgray;
}

.list_item h2 {
    margin: 0 0 8px;
}
